:root {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

:root {
  color: #0f0f0f;
  background-color: #f6f6f6;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }
}
