/*
 * Copyright 2021-2022 Golden_Water
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.MenuItem {
  transition: all 0.3s ease-in;
  display: flex;

  margin: var(--spacerWidthQuarter);
  padding: var(--spacerWidthHalf);

  border-radius: var(--itemBorderRadius);

  &:hover {
    background-color: var(--itemHoverBackgroundColor);
  }

  &:active {
    transition: all 0.1s ease-in;
    background-color: var(--itemActiveBackgroundColor);
  }
}

.MenuItemSelected {
  .MenuItem();

  color: var(--selectedTextColor);
  background-color: var(--itemSelectedBackgroundColor);

  &:hover {
    background-color: var(--itemSelectedHoverBackgroundColor);
  }

  &:active {
    transition: all 0.1s ease-in;
    background-color: var(--itemSelectedActiveBackgroundColor);
  }
}

.MenuItemIcon {
  display: flex;

  font-size: 1.3em;
}

.MenuItemName {
  transition: all 0.2s cubic-bezier(0.25, 0, 0, 1);

  user-select: none;

  width: 0;
  font-size: 0.85em;

  overflow-x: hidden;
  word-break: keep-all;

  opacity: 0;
}

.MenuShowName .MenuItemName {
  margin-left: 1em;

  width: 5em;

  opacity: 1;
}
