/*
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.functionCard {
  display: flex;
  flex-direction: column;
  padding: 1em;
  border: 0.1em solid #1e90ff5f;
  border-radius: 1em;
}

.functionCard_body {
}

.functionCard_name {
  position: absolute;
  margin-top: -1.7em;
  background-color: #f7f7f7;
  padding-left: 0.5em;
  padding-right: 0.5em;
  z-index: 0;
}

.functionCard_name > h5 {
  margin: 0;
}

.functionCard_description {
  margin-top: -0.5em;
  margin-bottom: 0.5em;
  font-size: 0.8em;
  color: #505050;
}
