/*
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.navBar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 0.25em 0.25em 0 rgba(0, 0, 0, 0.1);
  height: 2.5em;
  background-color: white;
  z-index: 100;
}

.navItem {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 0.5em;
  user-select: none;
}

.navItemSwitchable:hover {
  background: #dfdfdf;
}

.navItemSwitchable:active {
  background: #cfcfcf;
}

.navItemActive {
  background: #efefef;
}
