# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# previous version of this project
.old_src
.ChaosDanmuToolOld

# dev file
devHome
test.sqlite
app-icon.png

# cargo output
backend/target

# generated code
frontend/src/share/type/rust

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
