/*
 * Copyright 2021-2022 Golden_Water
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.Menu {
  box-sizing: border-box;

  height: 100%;

  padding: var(--spacerWidthQuarter);

  background-color: var(--contentBackgroundColor);
}
