/*
 * Copyright 2021-2022 Golden_Water
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.Menu {
  display: flex;
  flex-direction: column;

  height: 100%;

  .MenuItemListShowNameSwitch .MenuItemIcon {
    transition: all 0.2s cubic-bezier(0.25, 0, 0, 1);
  }
}

.MenuShowName {
  .Menu();

  .MenuItemListShowNameSwitch .MenuItemIcon {
    transform: rotate(-180deg);
  }
}

.MenuItemList {
  flex-grow: 1;

  box-sizing: border-box;

  padding: var(--spacerWidthQuarter);

  background-color: var(--contentBackgroundColor);
}

.MenuItemListShowNameSwitch {
  box-sizing: border-box;

  padding: var(--spacerWidthQuarter);

  background-color: var(--contentBackgroundColor);
}

.MenuCursor {
  transition: all 0.3s cubic-bezier(0.25, 0, 0, 1);

  position: absolute;
  box-sizing: border-box;

  z-index: 100;

  height: 1em;
  width: 0.25em;

  border-radius: 0.5em;

  background-color: var(--selectedTextColor);
}
