/*
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.Button {
  border: 0.1em #1e90ff solid;
  border-radius: 0.8em;
  background-color: #1e90ff3f;
  padding: 0.2em 0.3em;
  font-size: 0.9em;
  margin: 0.2em;
}

.Button:active {
  background-color: #1e90ff6f;
}
