/*
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.TextIcon {
  display: inline-flex;
  align-items: center;
  line-height: initial;
}

.TextIcon > div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 0.05em solid #1e90ff;
  border-radius: 0.4em;
  padding: 0 0.2em 0 0.2em;
  background-color: #1e90ff4f;
}
