/*
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.LoadingPage {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - 2px);
  height: calc(100vh - 2px);
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #b1b1b2;
  border-radius: 0.4em;
  color: #000;
}

.Action {
  font-weight: bold;
  font-size: 1.2em;
}

.Action:after {
  content: "";
  animation: infinite linear;
  animation-name: loadingDots;
  animation-duration: 3s;
}

@keyframes loadingDots {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
}

.Description {
  margin-top: 1em;
  color: #000a;
  font-size: 0.8em;
}
