/*
 * Copyright 2021-2022 Golden_Water
 * SPDX-License-Identifier: AGPL-3.0-only
 */

:root {
  // region color placeholders
  --text: hsla(0, 0%, 100%, 0.9);
  --secondaryText: hsla(0, 0%, 100%, 0.6);
  --background: hsla(200, 10%, 5%, 0.8);

  --up: hsla(0, 0%, 100%, 0.1);
  --upDouble: hsla(0, 0%, 100%, 0.2);
  --down: hsla(0, 0%, 0%, 0.1);
  --downDouble: hsla(0, 0%, 0%, 0.2);

  --theme: hsla(200, 100%, 50%, 0.1);
  --themeDouble: hsla(200, 100%, 50%, 0.2);
  --themeDown: rgba(0, 85, 128, 0.1);

  --themeSolid: hsl(200, 100%, 50%);
  --themeText: hsla(200, 100%, 50%, 0.9);
  // endregion

  // region size
  --contentBorderRadius: 0.75rem;
  --itemBorderRadius: 0.25rem;

  --spacerWidth: 1rem;
  --spacerWidthDouble: calc(var(--spacerWidth) * 2);
  --spacerWidthHalf: calc(var(--spacerWidth) / 2);
  --spacerWidthQuarter: calc(var(--spacerWidth) / 4);

  --textSize: 1rem;
  --titleTextSize: 1.15rem;
  --secondaryTextSize: 0.8rem;
  // endregion
}
