/*
 * Copyright 2021-2022 Golden_Water
 * SPDX-License-Identifier: AGPL-3.0-only
 */

:root {
  // region color placeholders
  --text: hsla(0, 0%, 100%, 0.9);
  --background: hsla(200, 10%, 5%, 0.7);
  --up: white;
  --down: black;
  // endregion

  // region size
  --contentBorderRadius: 0.75em;
  --itemBorderRadius: 0.25em;

  --spacerWidth: 1em;
  --spacerWidthDouble: calc(var(--spacerWidth) * 2);
  --spacerWidthHalf: calc(var(--spacerWidth) / 2);
  --spacerWidthQuarter: calc(var(--spacerWidth) / 4);

  --textSize: 1em;
  --titleTextSize: 1.15em;
  --secondaryTextSize: 0.85em;
  // endregion
}
