/*
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.UserInfo {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  vertical-align: bottom;
}

.UserInfo > div {
  margin-right: 0.5ch;
}
