/*
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.FansMedal {
  display: inline-flex;
  align-items: stretch;
  word-break: break-all;
  line-height: initial;
}

.FansMedal > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 0.05em solid #1e90ff;
  border-radius: 0.4em;
}

.FansMedal_name {
  border-right-width: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
  background-image: linear-gradient(45deg, #1e90ffaf, #1e90ff0f);
  padding: 0 0.2em 0 0.2em;
  color: #fff;
}

.FansMedal_guardIcon {
  max-height: 1.2em;
  margin-right: 0.2em;
}

.FansMedal_lvl {
  border-left-width: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  padding: 0 0.2em 0 0.2em;
  background-color: #fff;
}
