/*
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.statusBar {
  position: fixed;
  bottom: 0;
  z-index: 100;
  width: 100%;
}

.statusBar_placeholder {
  position: initial;
  opacity: 0;
}

.statusBar_content {
  border-radius: 0 0 0.4em 0.4em;
  padding: 0.2em;
  background-color: #bbb1;
}

.statusBar_statusMessage {
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.statusBar_statusMessage::-webkit-scrollbar {
  height: 0;
}

.statusBar_statusMessage div {
  word-break: keep-all;
  white-space: nowrap;
  flex-wrap: nowrap;
}

.statusBar_statusMessageItem {
  display: inline-flex;
  padding: 0.2em 0.5em;
  margin-right: 0.2em;
  margin-bottom: 0.2em;
  box-sizing: border-box;

  background-color: #0003;
  border-radius: 0.5em;
}

.statusBar_itemList {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  word-break: keep-all;
  white-space: nowrap;
}

.statusBar_itemList > div {
  padding: 0.1em 0.5em;
  margin-right: 0.2em;

  background-color: #0003;
  border-radius: 0.5em;
}
