/*
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.statusBar {
  position: fixed;
  bottom: 0;
  z-index: 100;
  width: 100%;
}

.statusBar_placeholder {
  position: initial;
  opacity: 0;
}

.statusBar_content {
  border: 0.1em #bfbfbf solid;
  border-radius: 0 0 0.4em 0.4em;
  padding: 0.2em;
  background-color: white;
}

.statusBar_statusMessage {
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.statusBar_statusMessage::-webkit-scrollbar {
  height: 0;
}

.statusBar_statusMessage > div {
  display: inline-flex;
  padding-right: 0.5em;
  box-sizing: border-box;
}

.statusBar_statusMessage div {
  word-break: keep-all;
  white-space: nowrap;
  flex-wrap: nowrap;
}

.statusBar_itemList {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  word-break: keep-all;
  white-space: nowrap;
}

.statusBar_itemList > div {
  margin-right: 0.2em;
  padding-right: 0.2em;
  border-width: 0 0.1em 0 0;
  border-color: #bfbfbf;
  border-style: solid;
}
