/*
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.ConnectFail {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - 2px);
  height: calc(100vh - 2px);
  background: white;
  color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #b1b1b2;
  border-radius: 0.4em;
}

.ConnectFail_retryBtn {
  padding-top: 1em;
  -webkit-app-region: no-drag;
}
