/*
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.main {
  -webkit-app-region: drag;
  overflow-y: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  border-radius: 0.4em;
}

.main:hover {
  overflow-y: auto;
}
